{% extends "transactions/base.html" %}

{% block page %}

	<h2> Детали сделки </h2>

	{% if tr_event == "change"%}
		<div class="alert alert-success">
  			Сделка успешно изменена.
		</div>
	{% endif %}
	
	<div class="highlighted_div_gray">
		{% for field in tr_info %}
			{{ field.label }} : {{ field.data }} <br>
		{% endfor %}
	</div>
	
	<h3> Прикрепленные товары </h3>	

	{% for info_obj in tr_objects_info %}
		<div class="highlighted_div_gray">
			{% for field in info_obj %}
				{{ field.label }} : {{ field.data }} <br>
			{% endfor %}
		</div>
	{% endfor %}
	
	<form action="{% url 'transactions:edit' transaction_id %}" method="get">
	    <button class="btn btn-primary"> Редактировать </button>
	</form> 
{% endblock %}
