{% extends "transactions/base.html" %}

{% block page %}
	{% if tr_event == "#add"%}
		<div class="alert alert-success">
  			Сделка успешно добавлена.
		</div>
	{% endif %}

	{% if tr_list %}
		<table class = "table table-striped">
			{% for tr in tr_list %}
				<tr> <td> <a href="{% url 'transactions:detail' tr.id %}">{{ tr.tr_name }}</a> </td></tr>
			{% endfor %}
		</table>
	{% else %}
		<p> Нет сделок </p>
	{% endif %}
	
	<br>
	<a href="{% url 'transactions:new_transaction' %}"> Добавить новую сделку </a>

{% endblock %}
