<!doctype html>
<html>
	<head>
		<link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="/static/main.css">
		<script src="/static/jquery/dist/jquery.min.js"></script>
		<script src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
		{% block head %}
		{% endblock %}
	</head>
	<body style="background: #d9dde2">
		<div class="container" style="background: #ffffff; margin-top: 50px; padding: 15px">
			<div class="row">
				<div class="col-md-12">
					{% block menu %}
					{% endblock %}
					{% block page %}
					{% endblock %}
				</div>
			</div>
		</div>
	</body>
</html>
